html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}
body{
    background-color: hsl(0, 0%, 95%);
}

.header {
    display: flex;
    width: 640px;
    align-items: center;
    justify-content: space-between;
}

button {
    font-size: 20px;
    padding: 8px 2px;
    width: 110px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

#container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    height: 640px;
    width: 640px;
    margin: 20px auto;
    background-color: white;
}

.square {
    box-sizing: border-box; 
    transition: background-color 0.1s; 
}
